$orange: #FF5722;
$green: #4CAF50;
$black: black;
$white: white;
$blackgrey: #212121;
$purple: #5644f5;
$lightblue: #ADD8E6;
$steelblue: #4682B4;
$blue100: #5c8fc5;
$blue200: #396A9F;
$blue300: #91A7D6;
$grey: #BDBDBD;
$grey100: #F7FAFC;
$grey200: #E2E8F0;
$grey300: #BDBDBD;
$red: #E53E3E;