@use '../../styles/colors';

.wrapper {
  height: 50vh;
  display: flex;

  :global(.swiper-button-prev) {
    color: colors.$white;
  }
  :global(.swiper-button-next) {
    color: colors.$white;
  }
  :global(.swiper-pagination-progressbar-fill) {
    background-color: colors.$white;
  }
}

.img {
  width: 200%;
  height: 200%;
  resize: vertical;
  object-fit: fill;
}
